@charset "utf-8";

/*スマホ用のタイトル*/
body {
	font-size: small;
}


/*トップページのスタイル・メインのポイント部分のスタイル*/
.toppage_point_container{
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

/*共通スタイル・ヘッダ部分のスタイル*/
.header{
	padding:5px;
}

.header img{
	display: block;
	width: 60%;
}

.header a{
	display: block;
	text-align: right;
}

/*トップページのスタイル・メインのヘッダ部分のスタイル*/
.toppage_title{
	background-position: 5px;
	zoom:;
}